.neilcenter{
    text-align: center;
    color:rgb(7, 23, 108);
    background-color: chocolate;
}
.pitchcenter{
    background-color: rgb(201, 150, 99);
    border: 5px solid rgb(161, 215, 196);
    padding: 40px;
    border-radius: 20px 20px 20px 20px;
    margin: 0 auto;
    width: 80%;
    height: 200px;
    overflow: auto;
}
.basecenter{
    text-align: center;
}
a.catchercenter{
    color:rgb(255, 187, 0);
    padding:0 30px;
    border-radius: 20px;
}
.catchercenter:hover{
    background-color: rgb(0, 255, 213);
    color:aliceblue;
}
.andybig{
    font-size: 20px;
    font-weight: 600;
}
.andygo{
    font-size: 50px;
    text-align: center;
}
.leftcenter{
    text-align: right;
}
.centercenter{
    text-align: center;
}
.rightcenter{
    color: rgb(46, 130, 20);
}
section#about{
    background-color:rgb(234, 188, 144);
    background-image: url("../assets/img/111.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
section#awards{
    background-color: blanchedalmond;
}
section#about div{
    color: aliceblue;
}
.shortcenter{
    text-align: center;
    color: rgb(255, 187, 0);
}